{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}Олимп-Строй{% endblock %}

{% block content %}
    <div class="container">
            <div class="user-container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h2>Олимп-Строй</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        {% if about %}
                            {% for about_el in about %}
                                {% if about_el.text %}
                                    {{ about_el.text|safe }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            Раздел находится в разработке
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


{% endblock %}