{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}Олимп-Строй{% endblock %}

{% block content %}
    <div class="container">
        <div class="user-container">
            {% if information %}
                {% for inf in information %}
                    {% if inf.first_title %}
                        <h2>{{ inf.first_title|safe }}</h2>
                    {% endif %}
                    {% if inf.first_text %}
                        <p class="main-p">
                            {{ inf.first_text|safe }}
                        </p>
                    {% endif %}
                    <hr />
                    {% if inf.second_title %}
                        <h3>{{ inf.second_title|safe }}</h3>
                    {% endif %}
                    {% if inf.second_text %}
                        <p class="main-p">
                            {{ inf.second_text|safe }}
                        </p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Главная страница находится на стадии заполнения!</p>
            {% endif %}
            <div class="row">
                <div class="col-md-12 map-plan"><img src="{% static 'img/map.png' %}"> </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2"><img class="plan-ico" src="{% static 'img/icons/engineer.png' %}"><div class="plan-text"> Обсуждаем проект</div></div>
                <div class="col-md-2"><img class="plan-ico" src="{% static 'img/icons/contract.png' %}"><div class="plan-text"> Заключаем договор</div></div>
                <div class="col-md-2"><img class="plan-ico" src="{% static 'img/icons/plan.png' %}"><div class="plan-text"> Создаем проект</div></div>
                <div class="col-md-2"><img class="plan-ico" src="{% static 'img/icons/tool.png' %}"><div class="plan-text"> Строим</div></div>
                <div class="col-md-2"><img class="plan-ico" src="{% static 'img/icons/house.png' %}"><div class="plan-text"> Сдаем проект</div></div>
                <div class="col-md-1"></div>
            </div>
            <hr />
            {% if projects %}
                <h3>Наши последние выполненные проекты</h3>
                <i class="prev fas fa-angle-left fa-4x" onclick="prev()"></i>

                <div class="carousel" id="carousel">
                    <ul>
                        {% for project in projects %}
                        <li>
                            <div class="carousel-element">
                                {% for image in images %}
                                    {% if image.project.pk == project.pk %}
                                        <img style="max-height:150px; height:100%" src="{{ image.image.url }}" alt="{% if image.alt %} {{ image.alt }} {% endif %}">
                                    {% endif %}
                                {% endfor %}
                                {% if project.months %}
                                    <p>Срок: {{ project.months }} месяцев</p>
                                {% endif %}
                                {% if project.common_sq_m %}
                                    <p>Кв. м.: {{ project.common_sq_m }}</p>
                                {% endif %}
                                {% if project.price %}
                                    <p>Стоимость: {{ project.price }} Р</p>
                                {% endif %}
                                <p><a href="{% url 'project' project.id %}" class="carousel-a">Подробнее...</a></p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <i class="next fas fa-angle-right fa-4x" onclick="next()"></i>
            {% else %}
                <p>Раздел готовых проектов находится на стадии заполнения</p>
                <br><br>
            {% endif %}
        </div>
    </div>
{% endblock %}